torch
transformers
hydra-core
omegaconf
Pillow
accelerate
nvidia-ml-py
langchain-core
datasets
sacrebleu
unbabel-comet
bert-score
nltk
psutil
compressed_tensors<0.7.0
pandas
matplotlib
seaborn
adjustText
huggingface_hub[hf_xet]